body{
    margin: 20px;
    font-family: Arial, Helvetica, sans-serif;
}

p{
    text-align:left;
    
}


.mainContainer{
    display:flex;
    justify-content: center;
}
.bigContainer{
    width:600px;
    background: #FAF2DC 0% 0% no-repeat padding-box;
    box-shadow: 3px 3px 10px #00000029;
    border-radius: 20px;
    opacity: 1;
    padding:46px;
    text-align: center;
}

.line{
    height:5px;
    width:100%;
    background:#FAE6B0;
    text-align:center;
    margin-top:10px;
    margin-bottom: 20px;;
    border-radius:100px;
}
.imageMbah{
    width: 176px;
    height: 275px;
    background: transparent url('mbahti.png') 0% 0% no-repeat padding-box;
    box-shadow: 3px 3px 10px #00000029;
    border-radius: 22px;
    opacity: 1;
}
.btnContainer{
    display:flex;
    justify-content: center;
    margin-top:30px;
}


.btn{
    padding:10px;
    background: #FAE6B0 0% 0% no-repeat padding-box;
    box-shadow: 0px 3px 6px #00000029;
    border-radius: 10px;
    opacity: 1;
    margin-left:5px;
    margin-right: 5px;
    text-align: center;
    border-style:solid;
    border-color:#FAE6B0 ;

}

.btn2{
    padding:10px;
    background: #FAF2DC 0% 0% no-repeat padding-box;
    border-style:solid;
    border-color:#FAE6B0 ;
    box-shadow: 0px 3px 6px #00000029;
    border-radius: 10px;
    opacity: 1;
    margin-left:5px;
    margin-right: 5px;
    text-align: center;

    height:20px;

}
a{
    color:black;
    text-decoration:none;
    font-size: 15px;
}

#fade {
    display: none;
    position: fixed;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 100%;
    background-color: black;
    z-index: 1001;
    -moz-opacity: 0.8;
    opacity: .80;
    filter: alpha(opacity=80);
  }
  
  #light {
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    max-width: 600px;
    max-height: 360px;
    margin-left: -300px;
    margin-top: -180px;
    border: 2px solid #FFF;
    background: #FFF;
    z-index: 1002;
    overflow: visible;
  }
  
  #boxclose {
    float: right;
    cursor: pointer;
    color: #fff;
    border: 1px solid #AEAEAE;
    border-radius: 3px;
    background: #222222;
    font-size: 31px;
    font-weight: bold;
    display: inline-block;
    line-height: 0px;
    padding: 11px 3px;
    position: absolute;
    right: 2px;
    top: 2px;
    z-index: 1002;
    opacity: 0.9;
  }
  
  .boxclose:before {
    content: "×";
  }
  
  #fade:hover ~ #boxclose {
    display:none;
  }
