body{
    margin: 20px;
}

h2{
    font-family: Arial, Helvetica, sans-serif;
}
.mainContainer{
    display:flex;
    justify-content: center;
}
.bigContainer{
    
    background: #FAF2DC 0% 0% no-repeat padding-box;
    box-shadow: 3px 3px 10px #00000029;
    border-radius: 20px;
    opacity: 1;
    padding:46px;
    text-align: center;
}

.line{
    height:5px;
    width:90%;
    background:#FAE6B0;
    text-align:center;
    margin:10px;
    border-radius:100px;
}
.imageMbah{
    width: 176px;
    height: 275px;
    background: transparent url('mbahti.png') 0% 0% no-repeat padding-box;
    box-shadow: 3px 3px 10px #00000029;
    border-radius: 22px;
    opacity: 1;
}